.dark {
     // Dark mode 
     $bg-page: $light-black;
     $text-color: $white;
     $border-btn-color: $white;
background-color:$bg-page;
color: $text-color;
.project__btn {
  border: 1px solid $border-btn-color;
  background-image: url(/img/icons/gitHub.svg);
  background-size: 24px;
 
  

}
}


//  width: 24px;
//   height: 24px;