$black: #171718;
$light-black: #26292d;
$white: #fff;
$light-blue: #2196f3;
$box-shadow-light: 0px 5px 35px rgba(0, 0, 0, 0.25);
$box-shadow-dark: 0px 5px 35px rgba(0, 0, 0, 0.8);



$bg-page: $white;
$bg-nav: $black;
$bg-header: $black;
$bg-footer: $black;
$accent-color: $light-blue;
$text-color: $black;
$text-color-nav: $white;
$text-color-header: $white;
$text-color-footer: $white;
$border-btn-color: $black;
$box-shadow: $box-shadow-light;

// Media
$tablet: 768px;




